@font-face {
    font-family: 'JetBrainsMono';
    src: url('webfonts/jetbrains.ttf');
}

html {
    cursor: url('/img/cursor.png') 16 16, auto;
}

body {
    background-color: transparent;
    color: #40ff00;
    text-shadow:
    0 0 5px #91ff6cd3,
    0 0 10px #58ff21d2,
    0 0 15px #40ff0093;
    font-family: 'JetBrainsMono', monospace;
}

button {
    background-color: black;
    color: #5EFD28;
    text-shadow:
    0 0 10px #58ff21,
    0 0 15px #40ff00;
    box-shadow:
    0 0 10px #58ff21bd,
    0 0 15px #40ff008a;
    border: none;
    outline: 2px solid #00FF00;
    height: 6vh;
    width: 10vw;
    border-radius: 10px;
    cursor: url('/img/cursorhover.png') 16 16, pointer;
}

button:hover {
    outline: 3px solid #00b600;
    text-shadow:
    0 0 10px #32c600,
    0 0 15px #228000;
}

input, textarea, [contenteditable] {
    cursor: url('/img/cursortyping.png') 16 16, text;
    caret-shape: underline
}

h1 {
    text-align: center;
    font-size: 150%;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-size: 100%;
    opacity: 70%;
}

#text1 {
  min-height: 1lh;
}

#text2 {
  min-height: 1lh;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #40ff0084;
    border-radius: 10px;
}

#camstatic {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3141;
    pointer-events: none;
}